:root{
    --activePage: #3F3
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#recipiesContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-around;
    
}
.recipeCard{
    width: 400px;
    border: 1px solid #393A3E;
    margin-bottom: 40px;
    padding: 20px;
    img{
        width: 100%;
    }
}
.pageContainer,#visiblePageList{
    display: flex;
    justify-content: center;
    gap: 10px;
}

h1{
    text-align: center;
    font-size: 48px;
    margin-top: 40px;
}
.pageNo,#previousbtn,#nextbtn,#first,#leftTruncaTe,#rightTruncate,#last{
    width:45px;
    aspect-ratio: 1;
    color: #2d2d2e;
    border: 5px solid #eaeaea;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    background-color: #3f96fd;
    color: white;
    border-color: #3f96fd;
}
